/* ==== Blog app layout =================================================== */
.blog-app {
    background-color: var(--blog-bg);
    margin: auto;
    height: 100%;
    width: 100%;
}

.blog-togglebar {
    z-index: 99;
    position: absolute;
    top: calc(13px + var(--window-titlebar-h)); left: 5px;
    transition: 150ms;
}

.blog-togglebar.is--open {
    left: calc(20px + var(--blog-sidebar-width));
    transition: 150ms;
}

.blog-toggle {
    background-color: var(--blog-button-no-select);
    border-radius: 100%;
    border-color: #1d1d1db2;
    padding: 10px 10px;
    color: white;
}

.blog-toggle:hover {
    background-color: #dd5252b2;
    cursor: pointer;
}

.blog-app__content {
    width: 100%; height: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
}

/* ==== Sidebar style ============ */
.blog-sidebar {
    width: var(--blog-sidebar-width);
    transition: 150ms;
    display: flex;
    flex-flow: column nowrap;
}

.blog-sidebar::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    width: var(--blog-sidebar-width); height: 100%;
    clip-path: polygon(0 0, 100% 0, 57% 100%, 0% 100%);
    background-color: var(--blog-sidebar);
    transition: 150ms;
}

.blog-sidebar.is--closed::before {
    width: 0;
    transition: 150ms;
}

.blog-sidebar.is--closed {
    width: 0;
    transition: 150ms;
}

.blog-sidebar.is--closed * {
    display: none;
}

.blog-brand {
    z-index: 1;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.blog-brand__title {
    position: relative;
    font-family: var(--blog-brand-font);
    font-size: var(--blog-brand-size);
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
}

.blog-brand__title:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #2ecb9a;
    overflow: hidden;
    animation: noise-before 4s infinite linear alternate-reverse;
}

.blog-brand__title:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #d94e4e;
    overflow: hidden;
    animation: noise-after 2s infinite linear alternate-reverse;
}

.blog-nav {
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 10px;
}

.blog-nav__item {
    background-color: #2ecb996b;
    padding: 10px 20px;
    width: 80%;
    border-color: transparent;
    transition: 75ms;
}

.blog-nav__item:hover {
    background-color: #dd5252b2;
    padding: 20px 20px;
    width: 100%;
    cursor: pointer;
    transition: 75ms;
}

.blog-nav__item span {
    font-family: var(--blog-brand-font);
    font-size: 20px;
}

.blog-main {
    margin: 0;
    flex-grow: 1;
    height: 100%;
}

/* ==== Home page style ============ */
.blog-home {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%; height: 100%;
    overflow-x: auto;
    overflow: auto;

    background-color: var(--blog-bg);
    font-family: var(--blog-text-font);
}

.blog-title {
    font-size: 40px;
    color: white;
}

.blog-hero {
    height: 300px;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 5px;
}

.blog-card__preview {
    border-radius: 10px;
    border: 2px solid #2ecb9a;
    height: 200px;
    width: 400px;
    margin-bottom: 5px;
}

.blog-card__preview-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.blog-card__preview:hover {
    cursor: pointer;
    border: 2px solid #dd5252b2;
}

.blog-card__title {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.blog-card__meta {
    color: white;
    font-size: 14px;
    text-wrap: wrap;
}

.blog-home hr,
.blog-list hr {
    width: 95%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.blog-featured__title {
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.blog-featured {
    color: white;
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
    justify-content: center;
    width: 75%;
}

.blog-featured__card {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

/* === Blog search screen === */
.blog-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%; height: 100%;
    overflow-x: auto;
    overflow: auto;

    background-color: var(--blog-bg);
    font-family: var(--blog-text-font);
}

.blog-list__head {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.blog-tags {
    flex-grow: 1;
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blog-tag {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2ecb9a;
    border-color: transparent;
    transition: 75ms;
}

.blog-tag.is-active {
    border: 2px solid #def76e;
}

.blog-tag:hover {
    background-color: #d94e4e;
    padding: 15px 30px;
    cursor: pointer;
    transition: 75ms;
}

.blog-list__grid {
    color: white;
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
    justify-content: center;
    width: 75%;
}

/* ===== About me ===== */
.blog-about {
    display: flex;
    color: white;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%; height: 100%;
    overflow-x: auto;
    overflow: auto;

    background-color: var(--blog-bg);
    font-family: var(--blog-text-font);
}

.blog-about__contact-me {
    margin-top: 5px;
    padding: 5px 0px;
    width: 100%;
    background-color: #2ecb9a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.contact-me-text {
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.blog-about__contact-me img {
    max-width: 30px;
    width: auto;
    height: auto;
}

.blog-about__contact-me img:hover {
    max-width: 35px;
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.blog-about p, ul {
    width: 50%;
}

.blog-about__image {
    max-width: 40%;
}

.blog-about__image img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* ==== Blog viewer ==== */
.blog-viewer {
    width: 100%; height: 100%;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow: auto;
}

.blog-viewer__bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blog-viewer__bar .blog-btn {
    margin-top: 10px;
    margin-right: 20px;
    background-color: #2ecb9a;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
}

.blog-viewer__bar .blog-btn:hover {
    background-color: #d94e4e;
    border-color: #def76e;
    cursor: pointer;
}

.blog-viewer__frame {
    border: none;
    width: 100%;
    flex-grow: 1;
    overflow-x: auto;
    overflow: hidden;
}

.blog-viewer__frame iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* ====== Responsive: on narrow widths, sidebar overlays and hides entirely ====== */
@media (max-width: 860px) {
    .blog-sidebar {
        width: 100%; height: 100%;
        position: absolute;
        left:0; top: 0;
        clip-path: none;
    }

    .blog-sidebar::before {
        width: 100%;
        clip-path: none;
    }

    .blog-togglebar.is--open {
        left: auto;
        right: 5px;
        transition: 150ms;
    }
}

/* ===== Animations ====== */
@keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
    }
    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }
    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }
    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }
    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }
    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }
    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }
    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }
    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }
    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }
    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }
    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }
    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }
    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }
    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }
    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }
    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }
    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }
    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }
    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }
    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}

@keyframes noise-after {
    0% {
        clip: rect(26px, 9999px, 33px, 0);
    }
    5% {
        clip: rect(140px, 9999px, 198px, 0);
    }
    10% {
        clip: rect(184px, 9999px, 89px, 0);
    }
    15% {
        clip: rect(121px, 9999px, 6px, 0);
    }
    20% {
        clip: rect(181px, 9999px, 99px, 0);
    }
    25% {
        clip: rect(154px, 9999px, 133px, 0);
    }
    30% {
        clip: rect(134px, 9999px, 169px, 0);
    }
    35% {
        clip: rect(26px, 9999px, 187px, 0);
    }
    40% {
        clip: rect(147px, 9999px, 137px, 0);
    }
    45% {
        clip: rect(31px, 9999px, 52px, 0);
    }
    50% {
        clip: rect(191px, 9999px, 109px, 0);
    }
    55% {
        clip: rect(74px, 9999px, 54px, 0);
    }
    60% {
        clip: rect(145px, 9999px, 75px, 0);
    }
    65% {
        clip: rect(153px, 9999px, 198px, 0);
    }
    70% {
        clip: rect(99px, 9999px, 136px, 0);
    }
    75% {
        clip: rect(118px, 9999px, 192px, 0);
    }
    80% {
        clip: rect(1px, 9999px, 83px, 0);
    }
    85% {
        clip: rect(145px, 9999px, 98px, 0);
    }
    90% {
        clip: rect(121px, 9999px, 154px, 0);
    }
    95% {
        clip: rect(156px, 9999px, 44px, 0);
    }
    100% {
        clip: rect(67px, 9999px, 122px, 0);
    }
}