/* ===== Base style & variables ===== */
:root {
    --border-color: #292828;
    --border-shadow: rgba(0, 0, 0, 0.2);
    --border-size-top: 50px;
    --border-size-bottom: 50px;
    --border-size-side: 30px;
    --background-color: #fff;
    --text-color: #000;

    --window-bg: var(--background-color, #fff);
    --window-fg: var(--text-color, #000);
    --window-border: var(--border-color, #292828);
    --window-radius: 3px;
    --window-titlebar-bg: var(--border-color, #292828);
    --window-titlebar-fg: #eaeaea;
    --window-shadow: 0 10px 30px rgba(0,0,0,.35);
    --window-titlebar-h: 34px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}