.screen {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    pointer-events: all;
}

.screen__wallpaper {
    z-index: -99;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    user-select: none;
    pointer-events: none;
}

.screen--cover  .screen__wallpaper { object-fit: cover; }
.screen--contain .screen__wallpaper { object-fit: contain; background:#000; }

.screen__overlay {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}