---
import { Image } from 'astro:assets';
import DesktopApp from '../react/DesktopApp.tsx';

const {
  src,
  alt = "",
  fit = "cover",
  apps = [] as string[]
} = Astro.props;

const fitClass = fit === "contain" ? "screen--contain" : "screen--cover";
---

<div class={`screen ${fitClass}`}>
  <Image class="screen__wallpaper" src={src} alt={alt} />
  <div class="screen__overlay">
    <DesktopApp client:load pinnedApps={['blog','notes']} shortcuts={['blog','notes']} />
    <slot />
  </div>
</div>